@function gutter($breakpoint_name: false) {
  $gutters: null;

  // Temporarily override grid setting if override is given
  @if $breakpoint_name {
    $old: $current-grid-setting;
    $current-grid-setting: get-grid-setting($breakpoint_name) !global;
    $gutters: get-setting('gutters');
    $current-grid-setting: $old !global;
  }
  @else {
    $gutters: get-setting('gutters');
  }

  @if not is-plain-number($gutters) {
    @return $gutters;
  }

  $container: compute-total-container($columns);
  @return percentage($gutters/$container);
}
